<html>
  <head>
    <title>즐거운 채팅방</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='/socket.io/socket.io.js'></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://kit.fontawesome.com/43798b0c81.js" crossorigin="anonymous"></script>
    <script src="/javascripts/push.min.js"></script>

  </head>
  <body style="overflow-y:hidden">
    

    <div class="container-fluid" >
        <div style="height:99%">
          <div id="leftContainer" style="width:25%;height:100%;float: left;">
                <div id="upperRoomContainer">
                  
                  
                 

                  <h3 id="currentName"><%= name %> </h3>
                  <button style="width:100%" class="btn btn-danger logout"><i class="fas fa-sign-out-alt"></i></button>

                  
                 
                  

                  <div class="input-group mb-3" style="margin-bottom:0px">
                      <input id="inputName" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="setName">
                      <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" id="setName">Set</button>
                      </div>
                  </div>

                  <button style="width:100%" class="btn btn-secondary config"><i class="fas fa-cog"></i></button>


                  <hr>
                  <button class="btn btn-primary" id="makeRoom" style="width:100%">Room +</button>
                </div>
                <div id="roomContainer" style="overflow-y:auto;">
    
                </div>
                <div id='exitRoom' class='alert alert-danger' style='cursor:pointer; width:100%; font-size:20px; height:40px; text-align:center'>나가기</div>
               

                  <!-- 지금까지 한거 : 방 만들기, 닉네임 만들기, 방 이름/비번 바꾸기, 방장 위임하기, 강퇴하기
                  <br>
                  할 거 : 방 인원 제한 -->

                
          </div>
          <div id="leftGameContainer"  style="width:25%;height:100%;float: left;">
            <div id="upperGameContainer">
              <div id="dateStatus" style="text-align:center" class="alert alert-danger"></div>
              <div id="timeStatus" style="text-align:center" class="alert alert-secondary"></div>
            </div>
            
            <div id="gameMembers" style="width:100%; overflow-y:auto;"></div>
            <div id='exitGame' class='alert alert-danger' style='cursor:pointer; height:40px; width:100%; font-size:20px; text-align:center'>나가기</div>
          </div>


          
          <div id="chatContainer" style="width:75%;height:100%;float: left;">
            <div style="height:0px" id="roomMasterArea">
            </div>
            <div>
              <div style="overflow-y:auto;" id="chatting" readonly=''>

              </div>
              <div style="height : 40px" id="chatSendArea">
                <input type="text" id="chatArea" style="width:80%;height:100%;float:left;" ></input>
                <button  class="btn btn-primary" id="chatSend" style="width:20%;height:100%;float:left;">Send</button>
              </div>
            </div>
            
          </div>
        </div>
       
    </div>
    <div id="popup-content" class="hide" style="display:none">
        <button class='btn btn-primary OK'>OK</button>  
        <h1>Simple popover with a close button.</h1>
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="finalVoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

      <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
      <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content">
          <!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          </div> -->
          <div class="modal-body" style="text-align:center">
            ...
          </div>
          <div class="modal-footer" style="text-align:center; display:inline-block">
            <button type="button" class="btn btn-danger" id="agreeVote" data-dismiss="modal" style="width:47%;margin-right:1%">찬성</button>
            <button type="button" class="btn btn-secondary" id="disagreeVote"  data-dismiss="modal" style="width:47%;margin-left:1%">반대</button>
          </div>
        </div>
      </div>
    </div>

    <audio id='audio_play' src='/audio/clearly.mp3'></audio> 
  </body>
  <script src="/dist/main.min.js"> </script>
  <!-- <script src="/javascripts/main.js"> </script>
  <script src="/javascripts/game.js"> </script> -->
</html>