<html>
  <head>
    <title>즐거운 채팅방</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='/socket.io/socket.io.js'></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://kit.fontawesome.com/43798b0c81.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container" >
        <div style="height:97%">
          <div style="overflow-y:auto;width:25%;height:100%;float: left;">
                <div>
                  name:
                  <h3 id="currentName"></h3>
                  <input id="inputName" type="text">
                  <button class="btn btn-primary" id="setName">Set</button>
                  <hr>
                  <button class="btn btn-primary" id="makeRoom" style="width:100%">Room +</button>

                  <div id="roomContainer">
      
                  </div>
                </div>
          </div>
          <div id="chatContainer" style="width:75%;height:100%;float: left;">
            <div style="height:0px" id="chatRoomManage">
            </div>
            <div>
              <div style="overflow-y:auto;" id="chatting" readonly=''>

              </div>
              <div style="height : 40px" id="chatSendArea">
              <input type="text" id="chatArea" style="width:80%;height:100%;float:left;" ></input>
              <button  class="btn btn-primary" id="chatSend" style="width:20%;height:100%;float:left;">Send</button>
              </div>
            </div>
            
          </div>
        </div>
       
    </div>
    <div id="popup-content" class="hide" style="display:none">
        <button class='btn btn-primary OK'>OK</button>  
        <h1>Simple popover with a close button.</h1>
        
    </div>
  </body>
  <script>
  

    function getColor(text){
      var hash = 0, len = text.length;
      if (text.length === 0) {
          return hash;
      }
      for (i = 0; i < len; i++) {
          charC = text.charCodeAt(i);
          hash = ((hash<<5)-hash)+charC;
          hash = hash & hash; 
      }
      
      hash = hash * hash
      hash = hash % 16777216
      hash = hash.toString(16)
      return hash;
    }

    function chatAppend(type, text){
      if(type == "noticePrimary"){
        $('#chatting').append("<div class='alert alert-primary' style='text-align:center'>" + text + "</div>");
      }else if(type == "chat"){
        $('#chatting').append("<div class='alert alert-light' style='text-align:left'>" + text + "</div>");
      }else if(type == "noticeDanger"){
        $('#chatting').append("<div class='alert alert-danger' style='text-align:center'>" + text + "</div>");
      }
      $("#chatting").scrollTop($("#chatting")[0].scrollHeight);
    }



    var socket = io(); 
    var currentRoom;
    var info;

    function getMyName(){
      return $('#currentName').text();
    }
  
    function chatSend(){
      var name = $('#currentName').text();
      var text = $('#chatArea').val();
      socket.emit('sendChat', currentRoom, name, text);
      $('#chatArea').val('');
    }

    if(!currentRoom){
      $('#chatContainer').css('visibility', 'hidden');
    }else{
      $('#chatContainer').css('visibility', 'visible');
    }


    $(document).on("click", "#chatRoomManage", function(){
      Swal.fire({
        title: 'Room Manage',
        html: `<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">방 이름</span>
  </div>
  <input type="text" id="roomNameArea" class="form-control" placeholder="방 이름" aria-label="방 이름" aria-describedby="basic-addon1" value="${currentRoom}">
</div>`,
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Apply'
      }).then((result) => {
        let before = currentRoom
        let after = $('#roomNameArea').val()
        if (before != after){
          socket.emit('changeRoomName', before, after)
        }
        
       
      })
    })

    socket.on('changeRoomName', function(before,after){
      chatAppend("noticePrimary", `방의 이름이 ${before}에서 ${after}로 변경됨 ㅋ`);
    })

    socket.on('a',function(data){
      console.log(data);
    })

    $(document).on("click", "#chatSend", function(){
      chatSend();
    })
    $("#chatArea").keyup(function(e){if(e.keyCode == 13)  chatSend(); });

    $("#chatting").css("height", (parseFloat($("#chatContainer").css("height")) -  parseFloat($("#chatRoomManage").css("height")) -  parseFloat($("#chatSendArea").css("height"))) + "px")
    $(window).resize(function(){
      $("#chatting").css("height", (parseFloat($("#chatContainer").css("height")) -  parseFloat($("#chatRoomManage").css("height")) -  parseFloat($("#chatSendArea").css("height"))) + "px")
    })


    $(document).on("click", ".chatName", function(){

    })


    $(document).on("click", "#makeRoom", function(){
      Swal.fire({
        title: 'Room Name',
        text: '방을 만들면 현재 있던 방은 나가야함 ㅋ',
        input: 'text',
        inputAttributes: {
          autocapitalize: 'off'
        },
        showCancelButton: true,
        confirmButtonText: 'Make & Enter',
        showLoaderOnConfirm: true,
        preConfirm: (roomName) => {

          if(getMyName()){
            socket.emit('makeRoom', roomName);
            socket.emit('joinRoom', roomName, getMyName());
          }
          
          
        },
        allowOutsideClick: () => !Swal.isLoading()
      }).then((result) => {
        
      })
    })

    socket.on('newRoomMaster', function(roomName, name){

      chatAppend("noticePrimary", "<span style='font-weight:1000;color:#" + getColor(name) + "'>" + name + "</span>님이 " + roomName + "의 방장이 됨 ㅋ");

      if(name === getMyName()){
        $('#chatRoomManage').html(`<div class="alert alert-secondary" style="width:100%;height:40px">방 관리</div>`)
        $('#chatRoomManage').css('height', "40px")
        $("#chatting").css("height", (parseFloat($("#chatContainer").css("height")) -  parseFloat($("#chatRoomManage").css("height")) -  parseFloat($("#chatSendArea").css("height"))) + "px")
      }else{
        $('#chatRoomManage').html(`<div class="alert alert-secondary" style="width:100%;height:0px">방 관리</div>`)
        $('#chatRoomManage').css('height', "0px")
        $("#chatting").css("height", (parseFloat($("#chatContainer").css("height")) -  parseFloat($("#chatRoomManage").css("height")) -  parseFloat($("#chatSendArea").css("height"))) + "px")
     
      }

    })


    socket.on('receiveChat', function(socketID, roomName, name, text){
      if(info[roomName].members[0] == name){
        chatAppend("chat", `<span data-toggle="popover" data-placement="bottom"  data-html="true"
                            class='chatName ${socketID}' style='cursor:pointer;font-weight:1000;color:#${getColor(name)}'><i class='fas fa-crown'></i> ${name}</span> : ${text}`)
        let $pop =  $('.'+ socketID)
        $pop.popover({
            placement: 'bottom',
            trigger: 'click',
            html: true,
            sanitize: false,
            title: `<span>${name}</span>   <a class="close"><i style="font-size:20px" class="fas fa-times"></i></a>`,
            content: 
            `
                  <button class="btn btn-primary mandate" type="button" data-toggle="popover" data-placement="bottom" data-html="true" >방장 위임</button>
                  <button class="btn btn-danger kick" type="button" data-toggle="popover" data-placement="bottom" data-html="true" >나가 ㅋ</button>
            `
            
        }).on('shown.bs.popover', function(e) {
          
            var current_popover = '#' + $(e.target).attr('aria-describedby');
            var $cur_pop = $(current_popover);
          
            $cur_pop.find('.close').click(function(){
                //console.log('close triggered');
                $pop.popover('hide');
            });
          
            $cur_pop.find('.mandate').click(function(){
                //console.log('OK triggered');
                $pop.popover('hide');
            });
            $cur_pop.find('.kick').click(function(){
                //console.log('OK triggered');
                $pop.popover('hide');
            });
        });


      }else{
        chatAppend("chat", `<span data-toggle="popover" data-placement="bottom"  data-html="true"
                            class='chatName ${socketID}' style='cursor:pointer;font-weight:1000;color:#${getColor(name)}'>${name}</span> : ${text}`)
        let $pop =  $('.'+ socketID)
        $pop.popover({
            placement: 'bottom',
            trigger: 'click',
            html: true,
            sanitize: false,
            title: `<span>${name}</span>   <a class="close"><i style="font-size:20px" class="fas fa-times"></i></a>`,
            content: 
            `
                  <button class="btn btn-primary mandate" type="button" data-toggle="popover" data-placement="bottom" data-html="true" >방장 위임</button>
                  <button class="btn btn-danger kick" type="button" data-toggle="popover" data-placement="bottom" data-html="true" >나가 ㅋ</button>
            `
            
        }).on('shown.bs.popover', function(e) {
          
            var current_popover = '#' + $(e.target).attr('aria-describedby');
            var $cur_pop = $(current_popover);
          
            $cur_pop.find('.close').click(function(){
                //console.log('close triggered');
                $pop.popover('hide');
            });
          
            $cur_pop.find('.mandate').click(function(){
                //console.log('OK triggered');
                $pop.popover('hide');
            });
            $cur_pop.find('.kick').click(function(){
                //console.log('OK triggered');
                $pop.popover('hide');
            });
        });
      
      }
     
    })

    socket.on('noticeChangeName', function(before, after){
  
      chatAppend("noticePrimary", "<span style='font-weight:1000;color:#" + getColor(before) + "'>" + before + "</span>님이 " + "<span style='font-weight:1000;color:#" + getColor(after) + "'>" + after + "</span>로 이름 바꿈 ㅋ");
    })


    $(document).on("click", ".room", function(){

      var roomName = $(this).children('.roomName').text();
      socket.emit('joinRoom', roomName, $('#currentName').text());

    })

    socket.on('joinRoom', function(roomName, name, me){
      if (me){
        $('#chatting').html('');
      }
      
      chatAppend("noticePrimary", "<span style='font-weight:1000;color:#" + getColor(name) + "'>" + name + "</span>님이 " + roomName + "에 입장함 ㅋ")
      currentRoom = roomName;
      
      if(info[roomName].members[0] === getMyName()){
        $('#chatRoomManage').html(`<div class="alert alert-secondary" style="width:100%;height:40px">방 관리</div>`)
        $('#chatRoomManage').css('height', "40px")
        $("#chatting").css("height", (parseFloat($("#chatContainer").css("height")) -  parseFloat($("#chatRoomManage").css("height")) -  parseFloat($("#chatSendArea").css("height"))) + "px")
     
      }else{
        $('#chatRoomManage').html(`<div class="alert alert-secondary" style="width:100%;height:0px">방 관리</div>`)
        $('#chatRoomManage').css('height', "0px")
        $("#chatting").css("height", (parseFloat($("#chatContainer").css("height")) -  parseFloat($("#chatRoomManage").css("height")) -  parseFloat($("#chatSendArea").css("height"))) + "px")
     
      }

      if(!currentRoom){
        $('#chatContainer').css('visibility', 'hidden');
      }else{
        $('#chatContainer').css('visibility', 'visible');
      }
  
    })
      
    socket.on('leaveRoom', function(roomName, name, me){
      chatAppend("noticeDanger", "<span style='font-weight:1000;color:#" + getColor(name) + "'>" + name + "</span>님이 " + roomName + "을 나감 ㅋ")
      if(me){
        currentRoom = undefined;
      }
      
      if(!currentRoom){
        $('#chatContainer').css('visibility', 'hidden');
      }else{
        $('#chatContainer').css('visibility', 'visible');
      }
    })
      

    socket.on('failSetName', function(){
      alert("이미 있는 이름임ㅋ");
    })

    socket.on('successSetName', function(){
      $('#currentName').text($('#inputName').val())
    })

    $(document).on("click", "#setName", function(){

      var a = $('#currentName').text();
      var b = $('#inputName').val()
      
      socket.emit('changeName', a, b)
      
    })


    socket.on('refreshMain', function(data){
      info = data;
      $('[data-toggle="tooltip"]').tooltip('hide')
      console.log(data);
      var string = "<hr>";
      for (key in data){
        var members = "접속자 : " + data[key]["members"].length + "명";
        for (i in data[key]["members"]){
          if (i == 0){
            members += "<br> <span> <i class='fas fa-crown'></i> " + data[key]["members"][i] + "</span>"
          }else{
            members += "<br> <span>" + data[key]["members"][i] + "</span>"
          }
         
        }

        if(data[key]["members"].includes(getMyName())){
          string += `<div class='room alert alert-warning'
          data-toggle='tooltip' data-placement='bottom' data-html='true' title="${members}"> <h4 class='roomName'>${key}</h4>`
        }else{
          string += `<div class='room alert alert-info'
          data-toggle='tooltip' data-placement='bottom' data-html='true' title="${members}"> <h4 class='roomName'>${key}</h4>`
        }
        

        
        string += "</div>"
        string += "<hr>"
      }
      $('#roomContainer').html(string);

      
      
      $('[data-toggle="tooltip"]').tooltip()
    })

  </script>
</html>