html, body{
    margin: 0;
    background-color: #190D16;
    height: 100%;
    font-family: 'Nanum Barun Gothic'; /*KoreanGD10R 하고 싶은데 돈이 없어서 못 함 ㅠㅠ*/
    font-size: 18px;
}

form{
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.spanRight1{
    margin-right: 1px!important;
}
.spanRight2{
    margin-right: 2px!important;
}
.spanRight3{
    margin-right: 3px!important;
}
.spanRight4{
    margin-right: 4px!important;
}
.spanRight5{
    margin-right: 5px!important;
}
.spanRight6{
    margin-right: 6px!important;
}
.spanLeft7{
    margin-left: 7px!important;
}
.spanRight7{
    margin-right: 7px!important;
}
.spanRight8{
    margin-right: 8px!important;
}
.spanRight9{
    margin-right: 9px!important;
}
.spanRight10{
    margin-right: 10px!important;
}


/* SCROLL BAR */
::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-track {background-color: rgb(72,72,70);}
::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.3); border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {background: #888888;}

/* LEFT PANEL */
#leftPanel{
    width: 330px;
    height: 100%;
    float: left;
    background-color: #3A3A3A;
}
    #myInfo{
        width: 100%;
        height: 140px;
        float: left;
    }
        #myInfoWrap{
            width: calc(100% - 60px);
            height: calc(100% - 75px);
            padding-top: 35px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 40px;
        }
            #myInfoTopArea{
                width: 100%;
            }
                #myInfoTable{
                    width: 100%;
                }
                    #myInfoName{
                        width: 240px;
                        text-align: center;
                        color: #fff;
                        font-size: 24px;
                        padding-left: 25px;
                    }
                    #userImg{
                        width: 21px;
                        cursor: pointer;
                    }
            #myInfoBottomArea{
                width: 100%;
                padding-top: 20px;
            }
                #myInfoLevelName{
                    float: left;
                    color: #70A77E;
                    font-size: 15px;
                }
                #myInfoLevelBarWrap{
                    float: left;
                    padding-left: 15px;
                    padding-right: 5px;
                    padding-top: 2px;
                }
                #myInfoLevelBar{
                    float: left;
                    width: 180px;
                    height: 12px;
                    background-color: #C8C8C8;
                    border-radius: 6px;
                }
                #myInfoLevelBarContent{
                    float: left;
                    height: 12px;
                    background-color: #70A77E;
                    border-radius: 6px;
                }
                #myInfoLevel{
                    float: right;
                    color: #fff;
                    font-size: 16px;
                }

    /* SELECT */
    #select{
        width: 100%;
        height: 50px;
        float: left;
    }
        #selectNote{
            width: 100%;
            height: 50px;
            float: left;
            cursor: pointer;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        #selectGame{
            width: 50%;
            height: 50px;
            float: left;
            cursor: pointer;
            border-top-left-radius: 20px;
        }
        #selectMemberControl{
            width: 50%;
            height: 50px;
            float: left;
            cursor: pointer;
            border-top-left-radius: 20px;
        }
        #selectFriend{
            width: 50%;
            height: 50px;
            float: right;
            cursor: pointer;
            border-top-right-radius: 20px;
        }
        .selectedChoosePanel{
            background-color: #2E2E2E;
            color: #DC656D;
        }
        .unselectedChoosePanel{
            background-color: #434343;
            color: #A7A7A7;
        }
        .selectWrap{
            position: relative;
            transform: translateY(-50%);
            top: 50%;
            margin: 0 auto;
            text-align: center;
            font-size: 16.5px;
        }
        .invisible{
            display: none!important;
        }
    /* SELECT */

    /* GAMEPANEL */
    #gamePanel{
        float: left;
        overflow-y: scroll;
        overflow-x: hidden;
    }
        #selectRoomPanel{
            float: left;
            overflow-y: scroll;
        }
            .selectedPanel{
                width: 100%;
                height: calc(100% - 270px);
            }

            .room{
                width: 100%;
                height: 75px;
                margin-bottom: 2px;
                cursor: pointer;
            }
            .fullRoom{
                background: rgb(77,38,38);
                background: linear-gradient(90deg, rgba(77,38,38,1) 0%, rgba(129,56,56,1) 85%, rgba(72,70,70,1) 100%);
            }
            .midRoom{
                background: rgb(77,68,38);
                background: linear-gradient(90deg, rgba(77,68,38,1) 0%, rgba(129,110,56,1) 85%, rgba(72,72,70,1) 100%);
            }
            .looseRoom{
                background: rgb(38,77,55);
                background: linear-gradient(90deg, rgba(38,77,55,1) 0%, rgba(56,129,86,1) 85%, rgba(72,70,70,1) 100%);
            }

            .roomWrap{
                padding-left: 25px;
                padding-right: 15px;
                padding-top: 18px;
                padding-bottom: 15px;
            }
                .leftRoomArea{
                    width: 210px;
                    height: calc(100% - 33px);
                    float: left;
                }
                    .roomName{
                        width: 100%; 
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-wrap: normal;
                        overflow: hidden;
                        float: left;
                        color: #fff;
                        font-size: 16px;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                    }
                    .roomMember{
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-wrap: normal;
                        overflow: hidden;
                        font-size: 14px;
                        padding-top: 5px;
                    }
                    div.fullRoom div.roomMember{
                        color: #AA7F7F;
                    }
                    div.midRoom div.roomMember{
                        color: #AAA77F;
                    }
                    div.looseRoom div.roomMember{
                        color: #7FAA89;
                    }

                .rightRoomArea{
                    width: 60px;
                    height: calc(100% - 33px);
                    float: left;
                }
                    .rightRoomTable{
                        float: right;
                        margin-top: -3px;
                    }
                        .joinRoom{
                            width: 25px;
                            float: right;
                        }
                        .roomCondition{
                            font-size: 12px;
                            float: right;
                            padding-top: 2px;
                        }
                        div.fullRoom div.roomCondition{
                            color: #D19A9A;
                        }
                        div.midRoom div.roomCondition{
                            color: #D1C29A;
                        }
                        div.looseRoom div.roomCondition{
                            color: #9AD1A8;
                        }
    /* GAMEPANEL */

    /* MEMBERPANEL */
    #memberPanel{
        float: left;
        overflow-y: scroll;
    }
        .memberBox{
            width: 100%;
            height: 100px;
            margin-bottom: 2px;
        }
            .memberBoxWrap{
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 15px;
            }
                .memberBoxLeftArea{
                    width: calc(100% - 70px);
                    height: calc(100% - 35px);
                    float: left;
                }
                    .memberBoxLeftTopArea{
                        width: 100%;
                        height: calc(100% - 15px);
                    }
                    .memberBoxLeftBottomArea{
                        width: 100%;
                        height: 15px;
                        float: left;
                        font-size: 12.5px;
                        color: #FFFFFF;
                    }
                    .memberNameWrap{
                        color: #FFFFFF;
                        cursor: pointer;
                    }
                    .bar{
                        width: 1px;
                        height: 12.5px;
                        float: left;
                        background: #FFFFFF;
                        margin-left: 5.5px;
                        margin-right: 5.5px;
                    }
                    .button{
                        float: left;
                        cursor: pointer;
                    }
                .memberBoxRightArea{
                    width: 70px;
                    height: calc(100% - 35px);
                    float: right;
                }
                    .memberBoxRightTopArea{
                        width: 100%;
                        height: calc(100%- 50px);
                        float: right;
                    }
                        .memberLevel{
                            color: #FFFFFF;
                            font-size: 32px;
                            margin-top: -4px;
                            float: right;
                        }
                    .memberBoxRightBottomArea{
                        width: 100%;
                        height: 50px;
                        float: right;
                    }
                        .memberLevelNameBox{
                            background: #FFFFFF;
                            border-radius: 5px;
                            float: right;
                            margin-top: 9px;
                            font-size: 12.5px;
                            color: #5E5E5E; /*DEFAULT*/
                        }
                        .memberLevelNameBoxWrap{
                            padding-left: 7px;
                            padding-right: 7px;
                            padding-top: 4.5px;
                            padding-bottom: 4.5px;
                        }
                            .levelGoldFont{
                                color: #C4A342;
                            }
                            .levelDefaultFont{
                                color: #5E5E5E;
                            }
                            .levelCitizenFont1{
                                color: #0022FF;
                            }
                            .levelCitizenFont2{
                                color: #0080FF;
                            }
                            .levelMafiaFont1{
                                color: #B80000;
                            }
                            .levelMafiaFont2{
                                color: #DF8D8D;
                            }

            .levelGold{
                background: rgb(183,149,56);
                background: linear-gradient(90deg, rgba(183,149,56,1) 0%, rgba(214,182,80,1) 85%, rgba(220,193,101,1) 100%);
            }
            .levelDefault{
                background: rgb(194,189,189);
                background: linear-gradient(90deg, rgba(194,189,189,1) 0%, rgba(194,194,194,1) 85%, rgba(167,167,167,1) 100%);
            }
            .levelCitizen1{
                background: rgb(0,26,64);
                background: linear-gradient(90deg, rgba(0,26,64,1) 0%, rgba(33,91,165,1) 85%, rgba(59,104,222,1) 100%);
            }
            .levelCitizen2{
                background: rgb(0,45,112);
                background: linear-gradient(90deg, rgba(0,45,112,1) 0%, rgba(32,113,219,1) 85%, rgba(75,115,220,1) 100%);
            }
            .levelCitizen3{
                background: rgb(0,59,146);
                background: linear-gradient(90deg, rgba(0,59,146,1) 0%, rgba(63,115,181,1) 85%, rgba(98,131,220,1) 100%);
            }
            .levelCitizen4{
                background: rgb(26,80,161);
                background: linear-gradient(90deg, rgba(26,80,161,1) 0%, rgba(56,109,177,1) 50%, rgba(112,141,217,1) 100%);
            }
            .levelCitizen5{
                background: rgb(71,120,194);
                background: linear-gradient(90deg, rgba(71,120,194,1) 0%, rgba(70,127,201,1) 85%, rgba(94,130,223,1) 100%);
            }
            .levelCitizen6{
                background: rgb(107,154,226);
                background: linear-gradient(90deg, rgba(107,154,226,1) 0%, rgba(134,186,254,1) 85%, rgba(178,201,255,1) 100%);
            }
            .levelMafia1{
                background: rgb(152,0,0);
                background: linear-gradient(90deg, rgba(152,0,0,1) 0%, rgba(206,61,61,1) 85%, rgba(245,19,19,1) 100%);
            }
            .levelMafia2{
                background: rgb(164,25,25);
                background: linear-gradient(90deg, rgba(164,25,25,1) 0%, rgba(206,61,61,1) 85%, rgba(220,93,93,1) 100%);
            }
            .levelMafia3{
                background: rgb(180,20,20);
                background: linear-gradient(90deg, rgba(180,20,20,1) 0%, rgba(204,72,72,1) 70%, rgba(204,72,72,1) 100%);
            }
            .levelMafia4{
                background: rgb(177,0,0);
                background: linear-gradient(90deg, rgba(177,0,0,1) 0%, rgba(214,80,80,1) 35%, rgba(220,101,101,1) 100%);
            }
            .levelMafia5{
                background: rgb(175,47,47);
                background: linear-gradient(90deg, rgba(175,47,47,1) 0%, rgba(214,80,80,1) 35%, rgba(220,101,101,1) 100%);
            }
            .levelMafia6{
                background: rgb(235,145,145);
                background: linear-gradient(90deg, rgba(235,145,145,1) 0%, rgba(230,119,119,1) 85%, rgba(233,133,133,1) 100%);
            }
    /* MEMBERPANEL */

    /* FRIENDPANEL */
    #friendPanel{
        float: left;
        overflow-y: scroll;
    }
        .unselectedPanel{
            width: 0px;
            height: 0px;
            display: none;
        }
    /* FRIENDPANEL */

    /* NOTE PANEL */
    #notePanel{
        float: left;
        overflow-y: scroll;
    }
        .memberNoteBox{
            width: 100%;
            height: 100px;
            background: #828282;
        }
            .memberNoteBoxWrap{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
                padding-right: 15px;
            }
                .jobCard{
                    width: 60px;
                    height: 80px;
                    display: block;
                    float: left;
                    background: #E6E6E6;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .QuestionCard{
                    background: url(/images/questionCard.png) left top;
                    background-size: 60px;
                }
                .MafiaCard{
                    background: url(/images/mafiaCard.png) left top;
                    background-size: 60px;
                }
                .PoliceCard{
                    background: url(/images/policeCard.png) left top;
                    background-size: 60px;
                }
                .DoctorCard{
                    background: url(/images/doctorCard.png) left top;
                    background-size: 60px;
                }
                .SoldierCard{
                    background: url(/images/soldierCard.png) left top;
                    background-size: 60px;
                }
                .PoliticianCard{
                    background: url(/images/politicianCard.png) left top;
                    background-size: 60px;
                }
                .DetectiveCard{
                    background: url(/images/detectiveCard.png) left top;
                    background-size: 60px;
                }
                .ShamanCard{
                    background: url(/images/shamanCard.png) left top;
                    background-size: 60px;
                }
                .ReporterCard{
                    background: url(/images/reporterCard.png) left top;
                    background-size: 60px;
                }
                .TerroristCard{
                    background: url(/images/terroristCard.png) left top;
                    background-size: 60px;
                }
                .PriestCard{
                    background: url(/images/priestCard.png) left top;
                    background-size: 60px;
                }
                .HideCard{
                    background: url(/images/hideCard.png) left top;
                    background-size: 60px;
                }
                .memberNoteBoxNameWrap{
                    width: calc(100% - 145px);
                    height: calc(100% - 20px);
                    float: left;
                    padding-left: 25px;
                }
                .memberNoteBoxName{
                    width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-wrap: normal;
                    overflow: hidden;
                    color: #FFFFFF;
                    position: relative;
                    transform: translateY(-50%);
                    top: 50%;
                }
                .memberSelectWrap{
                    width: 60px;
                    height: calc(100% - 20px);
                    float: left;
                }
                .memberSelect{
                    width: 100%;
                    height: 30px;
                    border-radius: 10px;
                    background: rgb(31, 31, 31);
                    float: left;
                    position: relative;
                    transform: translateY(-50%);
                    top: 50%;
                    text-align: center;
                    padding-top: 1px;
                    cursor: pointer;
                }
                .memberSelectText{
                    position: relative;
                    transform: translateY(-50%);
                    top: 50%;
                    font-size: 16px;
                    color: white;
                }
                .selectedMember {
                    background-color : white !important;
                    color :black !important;
                }
                .selectedMember .memberSelectText{
                    color :black !important;
                }
            .mafiaNoteBox{
                background: #C40000;
                color: #FFFFFF;
            }
            .citizenNoteBox{
                background: #002D70;
                color: #FFFFFF;
            }
            .deadNoteBox{
                background: #444444;
            }
                .deadNoteBoxName{
                    color: #9F9F9F!important;
                }
                .deadIcon{
                    width: 18px;
                    height: 21px;
                    display: block;
                    float: left;
                    margin-right: 10px;
                    background: url(/images/skull.png) left top;
                    background-size: 18px;
                }
    /* NOTE PANEL */

    /* ADD ROOM */

    #addRoomWrap{
        width: 324px;
        height: 64px;
    }
    #addRoom{
        width: 284px;
        height: 44px;
        background-color: #2E2E2E;
        cursor: pointer;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    #addRoomInnerWrap{
        display: inline-block;
        position: relative;
        transform: translateY(-50%);
        top: 50%;
    }
    #addRoomImg{
        width: 24px;
        float: left;
    }
    #addRoomText{
        float: left;
        color: #fff;
        padding-left: 5px;
        font-size: 14px;
        padding-top: 3.5px;
    }

    /* ADD ROOM */

    /* FOOTER */
    #footer{
        width: 100%;
        height: 80px;
        float: left;
        background-color: #2E2E2E;
    }
        #footerWrap{
            position: relative;
            transform: translateY(-50%);
            top: 50%;
            margin: 0 auto;
            text-align: center;
            font-size: 16px;
            color: #D1C29A;
        }
            #settingButton{
                width: 16px;
                float: right;
                margin-right: 40px;
                cursor: pointer;
            }
    /* FOOTER */
/* LEFT PANEL */

/* RIGHT PANEL */
#rightPanel{
    width: calc(100% - 330px);
    height: 100%;
    float: left;
}

    /* ROOM CONTROL BOX */
    #roomControlBox{
        width: 100%;
        height: 70px;
        background-color: #2E2E2E;
        text-align: center;
    }
        #roomTitleBox{
            width: 100%;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
            color: #D1C29A;
            font-size: 22px;
        }
        #roomControlWrap{
            width: 270px;
            height: 70px;
            position: absolute;
            top: 0px;
            right: 50px;
        }
            #startButton{
                width: 60px;
                height: 40px;
                float: left;
                border-radius: 12px;
                position: relative;
                transform: translateY(-50%);
                top: 50%;
                background-color: #A83434;
                color: #FFC2C2;
                cursor: pointer;
            }
            #roomSettingButton{
                width: 90px;
                height: 40px;
                float: left;
                border-radius: 12px;
                position: relative;
                transform: translateY(-50%);
                top: 50%;
                background-color: #3C56BF;
                color: #FFFFFF;
                margin-left: 15px;
                margin-right: 15px;
                cursor: pointer;
            }
            #exitButton{
                width: 90px;
                height: 40px;
                float: left;
                border-radius: 12px;
                position: relative;
                transform: translateY(-50%);
                top: 50%;
                background-color: #6E6E6E;
                color: #B4B4B4;
                cursor: pointer;
            }
            .v-mid{
                position: relative;
                transform: translateY(-50%);
                top: 50%;
            }
    /* ROOM CONTROL BOX */

    /* ROOM CONDITION BOX */
    #roomConditionBox{
        width: 100%;
        height: 70px;
        background-color: #2E2E2E;
        text-align: center;
    }
        #roomConditionBoxWrap{
            width: 270px;
            height: 70px;
            position: absolute;
            top: 0px;
            right: 50px;
        }
            #roomConditionBoxInnerWrap{
                height: 30px;
                float: right;
                position: relative;
                transform: translateY(-50%);
                top: 50%;
            }
                #roomConditionBoxImg{
                    float: left;
                }
                    .morning{
                        width: 29px;
                        height: 29px;
                        display: block;
                        float: left;
                        background: url(/images/morning.png) left top;
                        background-size: 29px;
                    }
                    .night{
                        width: 29px;
                        height: 29px;
                        display: block;
                        float: left;
                        background: url(/images/night.png) left top;
                        background-size: 29px;
                    }
                #roomConditionBoxText{
                    float: left;
                    font-size: 21px;
                    font-weight: lighter;
                    color: #fff;
                    margin-top: 1px;
                    margin-left: 8px;
                    position: relative;
                    transform: translateY(-50%);
                    top: 50%;
                }
                #roomConditionBoxTime{
                    float: left;
                    font-size: 21px;
                    font-weight: lighter;
                    color: #fff;
                    margin-top: 1px;
                    position: relative;
                    transform: translateY(-50%);
                    top: 50%;
                }
    /* ROOM CONDITION BOX */

    /* GAME AREA */
    #gameArea{
        width: 100%;
        height: calc(100% - 150px);
        float: right;
        text-align: center;
        overflow-x: hidden;
        overflow-y: scroll;
        background: #190D16;
    }
        .nightBg{
            background: #000000!important;
        }
        .morningBg{
            background: rgb(194,194,194);
            background: linear-gradient(180deg, rgba(194,194,194,1) 0%, rgba(162,162,162,1) 85%, rgba(165,165,165,1) 100%)!important;
        }
    #gameAreaWrap{
        height: calc(100% - 40px);
        padding-top: 25px;
        padding-bottom: 15px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
        .alertBox{
            display: inline-block;
            margin-bottom: 10px;
            font-size: 18px;
            color: #fff;
        }
            .name{
                font-family: 'Nanum Gothic';
                font-weight: bold;
                cursor: pointer;
            }
            .goldClass{
                color: #EFE1BA;
            }
        .talkBox{
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
        }
            .otherBox{
                float: left;
            }
            .myBox{
                float: right;
            }
            .talkerName{
                color: #fff;
            }
                .crown{
                    width: 20px;
                    height: 12px;
                    display: block;
                    float: left;
                    background: url(/images/crown.png) left top;
                    background-size: 20px;
                    margin-top: 3px;
                    margin-right: 5px;
                }
                .nameWrap{
                    float: left;
                }
            .talkContentBox{
                width: 100%;
                height: auto;
                overflow: hidden;
                margin-top: 10px;
            }
            .goldContentBox{
                border: 2px solid #C4A342!important;
            }
            .otherContentBox{
                float: left;
                border-top-left-radius: 0px!important;
            }
            .myContentBox{
                float: right;
                border-top-right-radius: 0px!important;
            }
                .talkContentWrap{
                    max-width: 450px;
                    word-break: break-all;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-radius: 15px;
                }
                .normal{
                    background: #fff;
                    border: 2px solid #929292;
                }
                .mafia{
                    background: #C40000;
                    border: 2px solid #732424;
                    color: #FFFFFF;
                }
                .dead{
                    background: #EEEEEE;
                    border: 2px solid #474747;
                    color: #8A8A8A;
                }
                .appeal{
                    background: #fff;
                    border: 2px solid #FF0000;
                }

        #newMessageAlertBox{
            width: 400px;
            height: 40px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background: rgba(112,112,112,0.8);
            color: #EFE1BA;
            text-align: center;
            position: absolute;
            left: calc(50% - 50px);
            right: 50%;
            bottom: 80px;
            z-index: 100;
            cursor: pointer;
        }
        #newMessageAlertContent{
            font-size: 16px;
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    /* GAME AREA */

    /* CHAT BOX */
    #chatBox{
        width: calc(100% - 330px);
        height: 80px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #434343;
    }
    #chatBox input::-webkit-input-placeholder {
        color: #FFFFFF;
        font-family: 'Nanum Barun Gothic';
    }
    #chatArea{
        width: calc(100% - 200px);
        height: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 40px;
        margin-right: 40px;
        background-color: #434343;
        color: #fff;
        outline: none;
        font-size: 18px;
        cursor: pointer;
        border: none;
        font-family: 'Nanum Gothic';
    }
    #chatSend{
        width: 120px;
        height: 80px;
        position: absolute;
        bottom: 0;
        right: 0;
        color: #fff;
        background-color: #6D6D6D;
        border: none;
        font-family: 'Nanum Barun Gothic';
        font-size: 18px;
        cursor: pointer;
        outline: none;
    }
    /* CHAT BOX */

    /* GAME RULE */
    #gameRule{
        width: 100%;
        height: 1000px;

        display: none;
    }
    /* GAME RULE */

    /* AD */
    #ad{
        width: 100%;
        height: 80px;
        background-color: #464646;

        display: none;
    }
    #temporaryAdNotice{
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        margin: 0 auto;
        text-align: center;
        font-size: 22px;
        color: #D1C29A;
    }
    #adPNG{
        width: 100%;
    }
    /* AD */
/* RIGHT PANEL */

/* NOTE TOOLTIP */
#noteTooltipWrap{
    position: absolute;
    display: none;
}
    #noteTooltipFullWrap{
        width: 911px; /* 814 */
        height: 229px;
    }
        #noteTooltipTriangle{
            width: 0px;
            height: 0px;
            float: left;
            border-top: 10px solid transparent;
            border-right: 12px solid rgba(40,40,40,0.9);
            border-bottom: 10px solid transparent;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
        #noteTooltip{
            width: calc(100% - 12px);
            height: 100%;
            float: left;
            background: rgba(40,40,40,0.9);
            color: #FFFFFF;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
            #noteTooltipInnerWrap{
                width: calc(100% - 50px);
                height: calc(100% - 50px);
                padding-left: 30px;
                padding-right: 20px;
                padding-top: 25px;
                padding-bottom: 25px;
            }
                #noteTooltipTopArea{
                    width: 100%;
                    height: auto;
                    float: left;
                }
                    #noteTooltipName{
                        float: left;
                        font-size: 36px;
                        font-weight: 900;
                        color: #FFFFFF;
                    }
                    #noteTooltipSelectWrap{
                        width: 180px;
                        height: 42px;
                        float: right;
                        font-family: 'Nanum Gothic';
                        text-align: right;
                        margin-right: 10px;
                    }
                        #noteTooltipSelectCitizen{
                            width: 90px;
                            height: 42px;
                            float: left;
                            text-align: center;
                            color: #FFFFFF;
                            font-size: 16px;
                            cursor: pointer;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                            .selectedNoteTooltipSelect{
                                background: #000000;
                            }
                        #noteTooltipSelectMafia{
                            width: 90px;
                            height: 42px;
                            float: left;
                            text-align: center;
                            color: #FFFFFF;
                            font-size: 16px;
                            cursor: pointer;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                            .unselectedNoteTooltipSelect{
                                background: #828282;
                            }
                            .noteTooltipSelectText{
                                display: inline-block;
                                font-size: 16px;
                                position: relative;
                                transform: translateY(-50%);
                                top: 50%;
                            }

                #noteTooltipBottomArea{
                    width: 100%;
                    padding-top: 25px;
                    float: left;
                }
                    .noteTooltipCard{
                        width: 84px;
                        height: 112px;
                        border-radius: 10px;
                        float: left;
                        cursor: pointer;
                    }
                    #noteTooltipCitizenPanel .noteTooltipCard:hover{
                        box-shadow: 0 0 0 5px #708DD9;
                    }
                    #noteTooltipMafiaPanel .noteTooltipCard:hover{
                        box-shadow: 0 0 0 5px #C40000;
                    }
                    #noteTooltipCitizenPanel{
                        float: left;
                    }
                        .noteTooltipPolice{
                            background: url(/images/policeCard.png) left top;
                            background-size: 84px;
                        }
                        .noteTooltipDoctor{
                            background: url(/images/doctorCard.png) left top;
                            background-size: 84px;
                        }
                        .noteTooltipSoldier{
                            background: url(/images/soldierCard.png) left top;
                            background-size: 84px;
                        }
                        .noteTooltipPolitician{
                            background: url(/images/politicianCard.png) left top;
                            background-size: 84px;
                        }
                        .noteTooltipDetective{
                            background: url(/images/detectiveCard.png) left top;
                            background-size: 84px;
                        }
                        .noteTooltipShaman{
                            background: url(/images/shamanCard.png) left top;
                            background-size: 84px;
                        }
                        .noteTooltipReporter{
                            background: url(/images/reporterCard.png) left top;
                            background-size: 84px;
                        }
                        .noteTooltipTerrorist{
                            background: url(/images/terroristCard.png) left top;
                            background-size: 84px;
                        }
                        .noteTooltipPriest{
                            background: url(/images/priestCard.png) left top;
                            background-size: 84px;
                        }

                        .selectedNoteTooltipPolice{
                            background: url(/images/selectedPoliceCard.png) left top;
                            background-size: 84px;
                        }
                        .selectedNoteTooltipDoctor{
                            background: url(/images/selectedDoctorCard.png) left top;
                            background-size: 84px;
                        }
                        .selectedNoteTooltipSoldier{
                            background: url(/images/selectedSoldierCard.png) left top;
                            background-size: 84px;
                        }
                        .selectedNoteTooltipPolitician{
                            background: url(/images/selectedPoliticianCard.png) left top;
                            background-size: 84px;
                        }
                        .selectedNoteTooltipDetective{
                            background: url(/images/selectedDetectiveCard.png) left top;
                            background-size: 84px;
                        }
                        .selectedNoteTooltipShaman{
                            background: url(/images/selectedShamanCard.png) left top;
                            background-size: 84px;
                        }
                        .selectedNoteTooltipReporter{
                            background: url(/images/selectedReporterCard.png) left top;
                            background-size: 84px;
                        }
                        .selectedNoteTooltipTerrorist{
                            background: url(/images/selectedTerroristCard.png) left top;
                            background-size: 84px;
                        }
                        .selectedNoteTooltipPriest{
                            background: url(/images/selectedPriestCard.png) left top;
                            background-size: 84px;
                        }

                    #noteTooltipMafiaPanel{
                        float: left;
                        display: none;
                    }
                        .noteTooltipMafia{
                            background: url(/images/mafiaCard.png) left top;
                            background-size: 84px;
                        }
                        .selectedNoteTooltipMafia{
                            background: url(/images/selectedMafiaCard.png) left top;
                            background-size: 84px;
                        }

/* NOTE TOOLTIP */

/* ROOM CREATE MODAL */
#roomCreateModalWrap{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}
    #roomCreateModalBackground{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(0,0,0,0.55);
    }
    #roomCreateModal{
        width: calc(100% - 0px); /* 330px */
        height: calc(100% - 0px); /* 150px */
        position: fixed;
        top: 15%;
        left: calc((100% - 770px)/2);
        right: calc((100% - 770px)/2);
        z-index: 1000;
    }
        #roomCreateModalContent{
            width: 770px;
            height: 567px;
            background: #2E2E2E;
            color: #fff;
            box-shadow: 0 0 0 3px #707070 inset;
            border-radius: 10px;
            text-align: center;
            margin-top: 0px;
            padding-top: 20px;
            padding-bottom: 15px;
            padding-left: 65px;
            padding-right: 65px;
        }
            #roomCreateModalName{
                width: 100%;
                display: inline-block;
                color: #EFE1BA;
                font-size: 16px;
                font-family: 'Nanum Gothic';
            }
            #roomCreateModalInnerWrap{
                width: 100%;
                height: 455px;
                padding-top: 15px;
                float: left;
            }
                #roomCreateModalLeftArea{
                    width: calc(100% - 90px);
                    height: 455px;
                    margin-right: 30px;
                    float: left;
                }
                    #roomCreateModalLeftTopArea{
                        width: 100%;
                        height: 60px;
                        margin-bottom: 15px;
                    }
                        #roomCreateModalTitleBox{
                            width: 100%;
                            height: 60px;
                            background: #434343;
                            box-shadow: 0 0 0 2px #D1C29A inset;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            text-align: center;
                        }
                            #roomCreateModalTitle{
                                width: 640px;
                                height: 20px;
                                background: #434343;
                                color: #EFE1BA;
                                border: none;
                                outline: none;
                                font-size: 18px;
                                font-family: 'Nanum Gothic';
                                text-align: center;
                                position: relative;
                                transform: translateY(-50%);
                                top: 50%;
                            }
                            #roomCreateModal input::-webkit-input-placeholder {
                                color: #EFE1BA;
                                font-size: 18px;
                                font-family: 'Nanum Gothic';
                            }
                    #roomCreateModalLeftBottomArea{
                        width: 100%;
                        height: calc(100% - 75px);
                    }
                        /* USER BOX */
                        #roomCreateModalUserBox{
                            width: calc((100% - 20px) / 2);
                            height: 100%;
                            float: left;
                            background: #4D4D4D;
                            box-shadow: 0 0 0 2px #D1C29A inset;
                            border-bottom-left-radius: 10px;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #roomCreateModalUserBoxInnerWrap{
                            width: 110px;
                            display: inline-block;
                            margin-top: 25px;
                        }
                        #roomCreateModalUserBoxLeftArea{
                            float: left;
                        }
                            #maxUserSettingBox{
                                width: 80px;
                                height: 47px;
                                float: left;
                                margin-right: 10px;
                            }
                                #maxUserSetting{
                                    width: 80px;
                                    height: 47px;
                                    background: #4D4D4D;
                                    color: #EFE1BA;
                                    border: none;
                                    outline: none;
                                    font-family: 'Nanum Gothic';
                                    font-size: 58px;
                                    font-weight: bold;
                                    text-align: center;
                                }
                        #roomCreateModalUserBoxRightArea{
                            float: left;
                        }
                            #upButton{
                                width: 20px;
                                height: 16px;
                                display: inline-block;
                                background: url(/images/up.png) left top;
                                background-size: 20px;
                                display: block;
                                cursor: pointer;
                                margin-bottom: 15px;
                            }
                            #downButton{
                                width: 20px;
                                height: 16px;
                                display: inline-block;
                                background: url(/images/down.png) left top;
                                background-size: 20px;
                                display: block;
                                cursor: pointer;
                            }
                        #roomCreateModalBoxBottomArea{
                            width: 100%;
                            height: calc(100% - 175px);
                            display: table;
                            vertical-align: bottom;
                            float: left;
                        }
                            #roomCreateModalBoxBottomAreaContent{
                                width: 100%;
                                height: 100%;
                                font-size: 14px;
                                color: #EFE1BA;
                                display: table-cell;
                                vertical-align: bottom;
                            }
                        /* USER BOX */

                        /* PASSWORD BOX */

                        #roomCreateModalPasswordBox{
                            width: calc((100% - 20px) / 2);
                            height: 100%;
                            float: left;
                            background: #4D4D4D;
                            box-shadow: 0 0 0 2px #D1C29A inset;
                            border-bottom-right-radius: 10px;
                            text-align: center;
                        }
                        #roomCreateModalPasswordBoxInnerWrap{
                            width: 100%;
                            display: inline-block;
                            margin-top: 25px;
                        }
                            #roomPasswordSettingBoxWrap{
                                width: calc(100% - 60px);
                                padding-left: 30px;
                                padding-right: 30px;
                            }
                                #roomPasswordSettingBox{
                                    width: 100%;
                                    height: 40px;
                                    padding-bottom: 10px;
                                    border-bottom: 1.5px solid #B2ADA0;
                                    float: left;
                                    text-align: center;
                                }
                                    #roomPasswordSetting{
                                        width: 100%;
                                        height: 100%;
                                        background: #4D4D4D;
                                        color: #EFE1BA;
                                        font-size: 34px;
                                        font-family: 'Nanum Gothic';
                                        font-weight: bold;
                                        text-align: center;
                                        border: none;
                                        outline: none;
                                        display: inline-block;
                                    }
                                    #roomPasswordSettingBox input::-webkit-input-placeholder {
                                        color: #EFE1BA;
                                        font-family: 'Nanum Gothic';
                                        font-size: 22px;
                                    }
                        
                        #roomCreateModalBoxBottomArea{
                            width: 100%;
                            height: calc(100% - 172px);
                            display: table;
                            vertical-align: bottom;
                            float: left;
                        }
                            #roomCreateModalBoxBottomAreaContent{
                                width: 100%;
                                height: 100%;
                                font-size: 14px;
                                color: #EFE1BA;
                                display: table-cell;
                                vertical-align: bottom;
                            }

                            
                        /* PASSWORD BOX */

                        #groupIconWrap{
                            width: 100%;
                            height: 103px;
                        }
                            #groupIcon{
                                width: 163px;
                                height: 103px;
                                display: inline-block;
                                background: url(/images/group.png) left top;
                                background-size: 163px;
                            }
                        #lockIconWrap{
                            width: 100%;
                            height: 103px;
                        }
                            #lockIcon{
                                width: 75px;
                                height: 103px;
                                display: inline-block;
                                background: url(/images/lock.png) left top;
                                background-size: 75px;
                            }
                            #unlockIcon{
                                width: 75px;
                                height: 103px;
                                display: inline-block;
                                background: url(/images/unlock.png) left top;
                                background-size: 75px;
                            }
                        .roomCreateModalBoxWrap{
                            width: calc(100% - 40px);
                            height: calc(100% - 100px);
                            padding-top: 60px;
                            padding-bottom: 40px;
                            padding-left: 20px;
                            padding-right: 20px;
                        }

            #roomCreateModalRightArea{
                width: 60px;
                height: 455px;
                float: right;
            }
                #roomCreateModalNormal{
                    width: 60px;
                    height: 220px;
                    float: left;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
                    .selectedRoomCreateSetting{
                        background: #D9BF79;
                        color: #FBF1D6;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                #roomCreateModalUserSetting{
                    width: 60px;
                    height: 220px;
                    float: left;
                    cursor: pointer;
                }
                    .unselectedRoomCreateSetting{
                        background: #EFE1BA;
                        color: #2E2E2E;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                .roomCreateModalSelectContent{
                    font-family: 'Nanum Gothic';
                    font-size: 16px;
                    font-weight: bold;
                    position: relative;
                    transform: translateY(-50%);
                    top: 50%;
                }

            #roomCreateModalBoxBottomButtonArea{
                height: 50px;
                display: inline-block;
                padding-top: 20px;
            }
                #roomCreateFinishButton{
                    width: 180px;
                    height: 50px;
                    background: #D9BF79;
                    border: 2px solid #707070;
                    color: #000000;
                    border-radius: 10px;
                    float: left;
                    cursor: pointer;
                    margin-right: 20px;
                }
                #roomCreateExitButton{
                    width: 180px;
                    height: 50px;
                    background: #4D4D4D;
                    border: 2px solid #828282;
                    color: #FFFFFF;
                    float: left;
                    cursor: pointer;
                    border-radius: 10px;
                }
                .roomCreateButton{
                    position: relative;
                    transform: translateY(-50%);
                    top: 50%;
                }
/* ROOM CREATE MODAL */