.room {
	border : 5px solid red;
	cursor : pointer;
}




.alert {
	padding-top : 4px !important;
	padding-bottom : 4px !important;
	margin-bottom : 0px !important;	 
}

.alert.room{
	width : 100%;
	padding-left : 4px;
	padding-right : 4px;

}

div #roomMasterArea{
	cursor:pointer;

}

.chatName{
	cursor:pointer;
}

.roomName {
	font-size : 20px;
}

hr.tooltipHR {
	background-color : white !important;
	margin-top : 4px;
	margin-bottom : 4px; 
}