.room {
	border : 5px solid red;
	cursor : pointer;
}

.container {
	border : 5px solid black;
}


.alert {
	padding-top : 4px !important;
	padding-bottom : 4px !important;
	margin-bottom : 0px !important;	 
}

.alert.room{
	width : 100%;
	padding-left : 4px;
	padding-right : 4px;

}

div #chatRoomManage{
	cursor:pointer;

}

.chatName{
	cursor:pointer;
}
