.room {
	border : 5px solid red;
	cursor : pointer;
}




.alert {
	padding-top : 4px !important;
	padding-bottom : 4px !important;
	margin-bottom : 0px !important;	 
}

.alert.room{
	width : 100%;
	padding-left : 4px;
	padding-right : 4px;

}

div #roomMasterArea{
	cursor:pointer;

}

.chatName{
	cursor:pointer;
}

.roomName {
	font-size : 20px;
}

hr.tooltipHR {
	background-color : white !important;
	margin-top : 4px;
	margin-bottom : 4px; 
}



@media screen and (min-width: 769px) {
	/* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
	.member{
		width:50%
	}
 }
 
 @media screen and (max-width: 768px) {
	/* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
	.member{
		width:100%
	}
}

@media screen and (min-width: 1200px) {
	/* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
	.member{
		width:33%
	}
 }

